#AnchorPane {
    -fx-background-color: white;
}

#menubutton {
    -fx-font-size: 14.0;
    -fx-background-color: white;
    /*-fx-font-weight: Bold;*/
    -fx-text-fill: black;
}

#menubutton:hover {
    -fx-text-fill: #f08a00;
}

#splitter {
    -fx-background-color: white;
    -fx-pref-width: 10.0;
}

#pagestyle{
   -fx-background-color: #fbf8f3;
}

#logo {
    -fx-background-image: url("../images/logo.png");
    -fx-background-size: 200, 150;
    -fx-background-repeat: no-repeat;
}

#playerbutton {
    -fx-background-color: grey;
    -fx-background-radius: 0;
}