#AnchorPane {
    -fx-background-color: white;
}

#menubutton {
    -fx-font-size: 14.0;
    -fx-background-color: white;
    /*-fx-font-weight: Bold;*/
    -fx-text-fill: black;
}

#menubutton:hover {
    -fx-text-fill: #f08a00;
}

#splitter {
    -fx-background-color: white;
    -fx-pref-width: 10.0;
}

#pagestyle{
   -fx-background-color: #fbf8f3;
}

#logo {
    -fx-background-image: url("../images/logo.png");
    -fx-background-size: 200, 150;
    -fx-background-repeat: no-repeat;
}

#playerbutton {
    -fx-background-color: #f08a00;
    -fx-background-radius: 0;
}

#mainbutton {
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
    -fx-text-fill: #f08a00;
    -fx-background-color: white;
    -fx-border-style:solid;
    -fx-border-color: #f08a00;
    -fx-pref-height: 49px;
    -fx-font-weight:Bold;
}

#mainbutton:hover {
    -fx-background-color: #f08a00;
    -fx-text-fill:white;
}

.table-view .column-header-background{
    -fx-background-color: #795094;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #795094;
}

.table-row-cell{
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #21a5d1;
    /* -fx-border-color:red; */
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}